.box {
  min-height: 100vh;

  .sider {
    color: #fff;
    line-height: 1;

    &_l {
      flex-shrink: 0;
      margin-right: 24px;
    }

    &_r {
      flex: 1;
    }
  }

  .header {
    background-color: #f0f2f5;
  }

  .content {
    padding: 24px 15px;
    background-color: #fff;
  }

  .footer {
    text-align: center;
  }
}
